Types of Encoding 

Categorical Variables:- 

1. Nominal Encoding.

2. Ordinal Encoding.

1. Nominal :- Features where we dont worry about arrangement of categories. eg - Gender:- Male, Female  state:- Maharashtra, karnataka. 

DOnt have to worry about ordering or rank of variables.

2. Ordinal :- We have to worry about ranks. Predict Salary of person. Degrees: -BE BCOM PHD ME here we will arrange depending upon salary.

Rank PHD - 1, ME - 2, BE - 3 BCOM - 4

Nominal Encoding Categories

1. One Hot Encoding

2. One Hot encoding with many Categorical variables.

3. Mean Encoding

Ordinal Encoding Categories

1. Label Encoding.

2. Target Guided Ordinal Encoding.

1. One Hot Encoding :- Applied to Nominal Categorical Variables.

Country :- Germany , France , Spain.   

3 Columns created

                Germany     France      Spain
    
    Germany       1            0           0

    France        0            1           0

    Spain         0            0           1



Dummy variable trap :- The above columns are called as dummy variables. 

Here germany 1 means  we are considering germany, france 1 means we are considering france

if both germany and france 0 means we are talking about spain, hence we can delete spain column. This is called as dummy variabe trap

so consider I have 5 categories then total number of columns will be 5 - 1 = 4. n columns then total columns avoiding dummy variable trap

will be n - 1.


Consider Pincode columns.

suppose i have 560011 , 560012, 560013, 560014, ........, 5600100

so convert this pincode to dummy variables then we wil have 100 - 1 = 99 columns leading to lot of dimension called as curse of dimensionality.

so dont apply one hot encoding

Label Encoding :- Applied to Ordinal Categories

Education 

BE         1

ME         3

PHD        4

Stat       2

labels having highest importance are given highest value.

One hot encoding with Multiple categories applied to nominal encoding

f1 - > 50 categories.

KDD Orange with ensamble technique. Top 10 categories from a feature is repeated more. 

so will take top 10 categories and create n - 1  ie 9 columns instead of 49 columns.

Target guided oridnal categories applied for Ordinal categories

will take feature f1 with 50 categories with output varibale

consider classification problem

f1              Output

A                  1

B                  1

C                  0

D                  1

A                  0

B                  0


WIll calculate the mean of A same for remaining categories.

mean for A means values of A which is 1.

A -> 0.73

B -> 0.6

C -> 0.4

Assign these ranks to categories depending on mean.

Mean Encoding applied to Nominal Categories.

f1      o/p         mean

A       1           0.73

B       0           0.6

C       1           0.5

D       1           0.4

A       0

B       1

C       1

D       0


Calculate the mean with respect to categories like A B C D.

Here in pincode we have 100 pincode into a city, so instead of creating columns will convert it into int or float values based on our output column.

so we calculate the mean for each categorical values, and replace mean with this values.

Count of Frequency encoding :- 

High Cardinality :- Applied to categorical features where you have higher number of variables/cayegories ie cardinality

Count of Frequency encoding, here we replace each label of the categorical variable by count, this is the amount of time each label appears

in the dataset or the frequency this is the percentage of observations within that category.

In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv("/home/utkarsh/DataPreprocessing/FeatureEngineering/Data/mercedesbenz.csv",usecols=['X1','X2'])

In [16]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [21]:
df.shape

(4209, 2)

In [22]:
#one hot encoding

pd.get_dummies(df).shape

(4209, 71)

In [24]:
len(df['X1'].unique())

27

In [25]:
len(df['X2'].unique())

44

In [26]:
for col in df.columns[0:]:
    print(col, " :",len(df[col].unique()),'labels')

X1  : 27 labels
X2  : 44 labels

In [32]:
df_freq_map = df['X2'].value_counts().to_dict()

In [33]:
freq

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'av': 4,
 'p': 4,
 'ah': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [34]:
df.X2 = df.X2.map(df_freq_map)

In [38]:
df.head(10)

  X1    X2
0  v     6
1  t     4
2  w   137
3  t   137
4  v   137
5  b    81
6  r    81
7  l  1659
8  s  1659
9  b    63

In [39]:
df_freq_map_x1 = df.X1.value_counts().to_dict()

In [40]:
df_freq_map_x1

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [41]:
df.X1 = df.X1.map(df_freq_map_x1)

In [42]:
df.head(20)

     X1    X2
0   408     6
1    31     4
2    52   137
3    31   137
4   408   137
5   592    81
6   251    81
7   590  1659
8   598  1659
9   592    63
10  251   153
11  251    81
12  592   415
13  251    81
14  598  1659
15  590   265
16  251    81
17  833  1659
18  121   367
19  143   265

Advantages:

1. It is very simple to implement

2. Does not increase the feature dimensional space


Disadvantages:

1. If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.