Types of Encoding 

Categorical Variables:- 

1. Nominal Encoding.

2. Ordinal Encoding.

1. Nominal :- Features where we dont worry about arrangement of categories. eg - Gender:- Male, Female  state:- Maharashtra, karnataka. 

DOnt have to worry about ordering or rank of variables.

2. Ordinal :- We have to worry about ranks. Predict Salary of person. Degrees: -BE BCOM PHD ME here we will arrange depending upon salary.

Rank PHD - 1, ME - 2, BE - 3 BCOM - 4

Nominal Encoding Categories

1. One Hot Encoding

2. One Hot encoding with many Categorical variables.

3. Mean Encoding

Ordinal Encoding Categories

1. Label Encoding.

2. Target Guided Ordinal Encoding.

1. One Hot Encoding :- Applied to Nominal Categorical Variables.

Country :- Germany , France , Spain.   

3 Columns created

                Germany     France      Spain
    
    Germany       1            0           0

    France        0            1           0

    Spain         0            0           1



Dummy variable trap :- The above columns are called as dummy variables. 

Here germany 1 means  we are considering germany, france 1 means we are considering france

if both germany and france 0 means we are talking about spain, hence we can delete spain column. This is called as dummy variabe trap

so consider I have 5 categories then total number of columns will be 5 - 1 = 4. n columns then total columns avoiding dummy variable trap

will be n - 1.


Consider Pincode columns.

suppose i have 560011 , 560012, 560013, 560014, ........, 5600100

so convert this pincode to dummy variables then we wil have 100 - 1 = 99 columns leading to lot of dimension called as curse of dimensionality.

so dont apply one hot encoding

Label Encoding :- Applied to Ordinal Categories

Education 

BE         1

ME         3

PHD        4

Stat       2

labels having highest importance are given highest value.

One hot encoding with Multiple categories applied to nominal encoding

f1 - > 50 categories.

KDD Orange with ensamble technique. Top 10 categories from a feature is repeated more. 

so will take top 10 categories and create n - 1  ie 9 columns instead of 49 columns.

Target guided oridnal categories applied for Ordinal categories

will take feature f1 with 50 categories with output varibale

consider classification problem

f1              Output

A                  1

B                  1

C                  0

D                  1

A                  0

B                  0


WIll calculate the mean of A same for remaining categories.

mean for A means values of A which is 1.

A -> 0.73

B -> 0.6

C -> 0.4

Assign these ranks to categories depending on mean.

Mean Encoding applied to Nominal Categories.

f1      o/p         mean

A       1           0.73

B       0           0.6

C       1           0.5

D       1           0.4

A       0

B       1

C       1

D       0


Calculate the mean with respect to categories like A B C D.

Here in pincode we have 100 pincode into a city, so instead of creating columns will convert it into int or float values based on our output column.

so we calculate the mean for each categorical values, and replace mean with this values.